@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  background-color: #fff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 2.2rem;
  margin: 1rem 0;
  margin-top: 2rem;
  margin-bottom: 3rem;
  line-height: 4rem;
}

span {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 2px 7px;
}

i {
  font-size: 2.7rem;
  color: #4b97da;
}

/* Index Page */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
}

.container>* {
  width: 100%;
}

#module-btn-container {
  margin-bottom: 10rem;
  justify-content: space-evenly;
  align-items: center;
}

/* #difficulty-container {
  width: 45vw;
  display: flex;
  flex-direction: row;
} */

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* Radio Buttons */

.switch-field {
  display: flex;
  margin-bottom: 3rem;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.7rem;
  padding: 15px 17px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  margin-top: 2rem;
  margin-right: 2.5rem;
  border-radius: 8px;
}

.switch-field label:hover {
  cursor: pointer;
  background-color: #aed0ef;
}

.switch-field input:checked+label {
  background-color: #4b97da;
  box-shadow: none;
}

/* .module-container {
  display: flex;
} */

/* FORMS */

form {
  display: flex;
  flex-direction: column;
}

/* button */

#startBtn {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.7rem;
  text-align: center;
  padding: 15px 18px;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 2.5rem;
}

#startBtn:hover {
  cursor: pointer;
  background-color: #aed0ef;
}

@media screen and (max-width:790px) {
  h2 {
    font-size: 3.2rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  span {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 2px 7px;
  }

  i {
    font-size: 2rem;
    color: #4b97da;
  }

  .switch-field label {
    font-size: 1.4rem;
    text-align: center;
    padding: 18px 20px;
  }

  #startBtn {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.3rem;
    padding: 18px 20px;
    font-weight: 600;
  }
}

@media screen and (max-width:550px) {
  h2 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  span {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    padding: 1px 5px;
  }

  i {
    font-size: 2rem;
    color: #4b97da;
  }

  .switch-field label {
    font-size: 1.6rem;
    padding: 10px 12px;

  }

  #startBtn {
    font-size: 1.6rem;
    padding: 14px 16px;
  }
}

@media screen and (max-width:470px) {
  h2 {
    font-size: 2.3rem;
    margin-top: 10px;
  }

  h4 {
    font-size: 1.7rem;
  }

  span {
    padding: 1px 3px;
  }

  i {
    font-size: 1.6rem;
  }

  .switch-field {
    display: flex;
    flex-direction: column;
  }

  .switch-field label {
    font-size: 1.4rem;
    /* padding: 7px; */
    margin-top: 0rem;
    margin-bottom: 1rem;
  }

  #startBtn {
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-left: 1rem;
    padding: 12px 16px;
  }

  form {
    width: 100%;
  }

  .module-container {
    margin-bottom: 2.3rem;
  }
}