@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  background-color: #fff;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}


h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 4.7rem;
  color: #4b97da;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin: 3rem auto;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 200;
  margin-bottom: 10rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 3rem;
}

.container>* {
  width: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.1rem 0.7rem 0 #aed0ef;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #4b97da;
  border-radius: 8px;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #5f9378;
}

.incorrect {
  background-color: #d32536;
}

/* HUD */

#hud {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#hud-items-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.7rem;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.3rem solid #4b97da;
  margin-top: 2.8rem;
  margin-bottom: 1.5rem;
  position: relative;
  border: 1.5px solid #4b97da;
  border-radius: 8px;
}

.time_line {
  height: 2.5rem;
  background: #2196F3;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7.7px;
}

@media screen and (max-width:500px) {
  h2 {
    font-size: 3.5rem;
  }

  #hud-items-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

}